parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '~Method Notifier\\Channel\\[a-zA-Z0-9\\_]+Message::[a-zA-Z0-9_]+\(\) has no return typehint specified.~'
        - '~Call to an undefined method GuzzleHttp\\ClientInterface::[a-zA-Z0-9_]+\(\).~'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
